*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
}

html,body{
   height: 100%;
   width: 100%;
}
.heading{
height: 100%;
width: 100%;
}
button{
border:2px solid black;
   height:3rem;
   width:5rem;
}
